@import url('https://fonts.googleapis.com/css2?family=Alice&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #fcf8eb;
    font-family: "Roboto Serif", serif;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Alice, serif;
    font-weight: 700;
}

/* ..................................................Navbar styles  */

.navbar {
    position: relative;
    z-index: 1000;
    min-height: 50px;
    border: 1px solid transparent;
    margin-bottom: 0 !important;
}

.navbar-brand {
    font-family: Alice, serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.header-design {
    background-color: #24704B;
    color: white;
}

.nav-link:hover {
    color: #FFBD59 !important;
}

.active {
    color: #FFBD59 !important;
}

/* ..................................................Main Hero Image Style  */

.hero-text {
    width: 90%;
    margin: auto;
}

.jumbotron {
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(36, 112, 75, 0.40)),
        url('https://assets3.thrillist.com/v1/image/3055098/1200x630/flatten;crop_down;webp=auto;jpeg_quality=70');
    background-size: cover;
    height: 600px;
    color: white;
    margin-bottom: 0;
    padding-top: 100px;
}

.jumbotron p {
    font-size: 1.5rem;
}

.btn-yellow-outline {
    border: 1px solid #FFBD59;
}

.btn-yellow-outline:hover {
    color: white;
    background-color: #FFBD59;
}

/* ..................................................About Section Style  */

.bg-about {
    background-image: url("https://media.npr.org/assets/img/2017/04/12/tigin-irish-pub-jfk7_wide-d88fd18189660ddc8cb80c52c85dafadfcdfec97-s1400-c100.jpg");
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.82);
    background-size: cover;
    color: white;
    margin: 0, auto;
    text-align: center;
    overflow: auto;
    padding-bottom: 15px;
}

.bg-about h2 {
    font-size: 3em;
}

.bg-about P {
    font-size: 1.25em;
    width: 90%;
    margin: auto;
}

.bg-opening {
    background-color: #24704B;
    color: white;
    margin: 0, auto;
    text-align: center;
    overflow: auto;
    padding-bottom: 15px;
}

.bg-opening h2 {
    font-size: 3em;
}

.hor-line {
    border: 1px solid #FFBD59;
    border-radius: 5px;
    width: 20%;
}

.about-section {
    margin: 0;
    padding: 0;
}

/* ..................................................Opening Hours Section Style  */

.open-hours-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(36, 112, 75);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: rgba(0, 0, 0, 0.40);
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: rgba(36, 112, 75, 0.90);
  }

  tr:last-child {
    border-bottom: none;
  }

  /* ..................................................Menu Section Style  */

  .menu {
      padding-top: 15px;
      text-align: center;

  }

  .menu-item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .menu-item img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 10px;
      border-radius: 5px;
  }

  .menu-item-details {
      flex-grow: 1;
  }

  .menu-item-title {
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 5px;
  }

  .menu-item-description {
      margin-top: 0;
      margin-bottom: 10px;
  }

  .menu-item-price {
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
  }